<nav class="navbar navbar-expand-md bg-light fixed-top">
    <div class="container-fluid">
        <%= link_to "UNIMET", root_path, class:"navbar-brand"%>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#firstNavBar">
            <span><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="firstNavBar">
            <ul class="navbar-nav ml-auto">
                <% if user_signed_in?%>
                <% if current_user.is_admin? %>
                <li class="nav-item">
                    <%= link_to "Estudiantes", students_path, class:"nav-link" %>
                </li>
                <% else %>
                <li class="nav-item">
                    <%= link_to "Ficha de Datos", students_path, class:"nav-link" %>
                </li>
                <% end %>
                <li class="nav-item">
                    <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, class:"nav-link" %>
                </li>
                <% else %>
                <li class="nav-item">
                    <%= link_to "Iniciar sesion", new_user_session_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Registro", new_user_registration_path, class:"nav-link" %>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>